*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    background-color: aqua;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-right: 80px;
    margin-top: 5px;
    width: 100px;
    height: 50px;
}
.logo img{
    width: 100%;
}

#menu1{
    display: flex;
    justify-content: space-evenly;
}

ul li{
    float: left;
    margin-right: 80px;
    line-height: 50px;
}
ul li a{
    color: black;
}
ul li a:hover{
    border-bottom: 1px solid rgb(63, 9, 244);
    color: rgb(63, 9, 244);
}

.menu-icon{
    display: none;
}



@media screen and (max-width:426px) {
    header{
        width: 100%;
    }
    nav{
        width: 90%;
        position: relative;
    }
    #menu1{
        display: none;
        position: absolute;
        flex-direction: column;
        margin-top: 250px;
        margin-left: 110px;
        width: 30%;

        background-color:aqua;
    }
    ul li{
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100px;
    }

    .menu-icon{
        display: block;
    }
}